.container{
    width: 220px;
   display: flex;
    padding: 10px;
    border-radius: 15px;
    flex-direction: column;
    margin:0;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%)
   
}
*{
    /* border: red 1px solid; */
    font-family: 'Outfit', sans-serif;
    
}
body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;

}
img{
    width: 220px;
    border-radius: 15px;
    margin: auto;
}
.para1{
    font-weight: 700;
    text-align: center;
}
.para2{
    font-weight: 400;
    text-align: center;
}